{"name":"Ignite Gym","slug":"ignite-gym","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#202024"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.akunde.ignitegym","infoPlist":{"ITSAppUsesNonExemptEncryption":false}},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#202024"},"permissions":["android.permission.RECORD_AUDIO"],"package":"com.akunde.ignitegym"},"plugins":["expo-font",["expo-image-picker",{"photoPermission":"The app accesses your photos to let you share with your friends."}]],"extra":{"eas":{"projectId":"1480606d-4566-4cdf-9532-31f91198d753"}},"sdkVersion":"51.0.0","platforms":["ios","android"]}